# Ignore directories
data/
D_audio/
H_audio/
HD_audio/
Results/
vggish_features/
models/
__pycache__/
.ipynb_checkpoints/
.DS_Store

# Ignore file extensions
*.npz
*.ckpt
*.h5
*.pth
*.pt
*.wav
*.ipynb
